target/
dependency-reduced-pom.xml
*.class
*.jar
*.log
.idea/
*.iml
.settings/
.classpath
.project

# Build artifacts
.compile-generator
*.tmp

# Generated artifacts
filter-docs/
okapi-data/
dist/
*.versionsBackup
